.container {
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
  .card-content {
    padding: 5px 0;
    .card-style {
      margin-bottom: 5px;
    }
  }
}
.btn-item {
  float: left;
  width: 50%;
  padding: 10px;
}
