.list-item {
  // border: 1px solid #ccc;
  background-color: #ececec;
  height: 60px;
  overflow: hidden;
  white-space: nowrap;
  .list-container {
    transform: translateX(-80px);
    transition: all .5s;
    display: flex;
    flex-direction: row;
    width: calc(100% + 160px);
    .control-btn {
      width: 80px;
      text-align: center;
      line-height: 60px;
      color: #fff;
      &:first-child {
        background-color: #108ee9;
      }
      &:last-child {
        background-color: #e94f4f;
      }
    }
    .list-img {
      img {
        height: 60px;
        width: 60px;
        vertical-align: middle;
      }
    }

    .list-content {
      flex: 1;
      padding: 0 10px;
      p {
        max-width: 290px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }
}
