.record-container {
  .list-view-container {
    padding: 10px 0;
  }
}
.btn-item {
  float: left;
  width: 50%;
  padding: 10px;
}
:global {
  .am-list-body {
    // height: 210px;
    overflow: auto;
  }
}
