.container {
  height: 100%;
  .header-nav {
    // position: fixed;
    // top: 0;
    // left: 0;
    // width: 100%;
    // z-index: 9999;
  }
  .view-container {
    height: calc(100% - 45px);
    padding: 10px;
    overflow: hidden;
    // margin-top: 45px;
  }
}
